@model foodcruise.Models.restaurante

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

