@model Restaurantes.Models.Plato

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaNavigation.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenuNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
