@model IEnumerable<app.Models.menu>

@{
    ViewBag.Title = "Menu";
}

<h2>@ViewBag.restaurante.nombre</h2>
<h3>Menus</h3>    
<p>
    @Html.ActionLink("Nuevo +", "Create", new { restaurante = ViewBag.restaurante.id})
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha disponible
        </th>
        <th>
            Tipo del menú
        </th>
        <th>
            Jornada
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jornada1.nombre)
        </td>        
        <td>
            @Html.ActionLink("Ver", "Details", new { id = item.id }) |
            @Html.ActionLink("Platos", "Index","Platos", new { menu = item.id },null) |
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
